<!-- source: [34]-->
{% extends "base.html" %}
{% block title %}Shop{% endblock %}

{% block content %}
<div class="container-sm">
    <div class="card">
        <div class="card-header text-center">
            <h1><i class="fas fa-store"></i> Student Shop</h1>
            <p>To come soon: Unlock Skins with your LPs!</p>
        </div>
        
        <div class="card-body">
            <p>Currently, the shop is not implemented. This is a placeholder for future development.</p>
        </div>
    </div>
</div>
{% endblock %}