{% extends "base.html" %}
{% block title %}Quiz History{% endblock %}

{% block content %}
<div class="container-sm">
    <div class="card">
        <div class="card-header text-center">
            <h1><i class="fas fa-clipboard-list"></i> Student Quiz History</h1>
            <p>View your quiz history and improve your performance.</p>
        </div>
        
        <div class="card-body">
            <p>Currently, the Quiz history is not implemented. This is a placeholder for future development.</p>
        </div>
    </div>
</div>
{% endblock %}