<!-- Source: https://flask.palletsprojects.com/en/stable/-->
<!-- source: https://pushmetrics.io/learn/jinja/jinja-loops/-->
{% extends "base.html" %}
{% block title %}Create New Quiz{% endblock %}

{% block content %}
<h1 align="center">Create New Quiz for Classroom: {{ classroom.name }}</h1>

<div class="container">
    <form method="POST" action="{{ url_for('views.create_quiz_for_classroom', classroom_id=classroom.id) }}">
        <div class="form-group">
            <label for="quiz_name">Quiz Name</label>
            <input type="text" class="form-control" id="quiz_name" name="quiz_name" placeholder="Enter the name of your new quiz" required>
        </div>
        <br />
        <button type="submit" class="btn btn-success">Create Quiz and Add Questions</button>
    </form>
    <br />
        <button onclick="location.href='{{ url_for('views.home', classroom_id=classroom.id) }}'" type="button" class="btn btn-primary">Back to Dashboard</button>

</div>
{% endblock %}
