<!-- source: [10,8,33,34] -->
{% extends "base.html" %}
{% block title %}Manage Answers for {{ question.text }}{% endblock %}

{% block content %}
<div class="container">
    <h4>Question: {{ question.text }} ({{ question.learning_points }} LP)</h4>
    <hr>
    
    <h2>New Answer</h2>
    {% if answers|length < 4 %}
        <form method="POST" action="{{ url_for('views.teacher_manage_question_answers', question_id=question.id) }}">
            <div class="form-group">
                <label for="answer_text">Answer Text</label>
                <input type="text" class="form-control" id="answer_text" name="answer_text" required>
            </div>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="is_correct" name="is_correct">
                <label class="form-check-label" for="is_correct">correct answer?</label>
            </div>
            <button type="submit" class="btn btn-success">Add Answer</button>
        </form>
    {% else %}
        <p class="text-muted">Maximum answers reached.</p>
    {% endif %}
    <br />
    <hr>

    <h2>Existing Answers</h2>
    {% if answers %}
        <ul class="list-group">
            {% for answer in answers %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    {{ answer.text }}
                    <span class="badge bg-{{ 'success' if answer.is_correct else 'secondary' }}">
                        {{ 'Correct' if answer.is_correct else 'Incorrect' }}
                    </span>

                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No answers added to this question yet.</p>
    {% endif %}

    <br />
    <button onclick="location.href='{{ url_for('views.teacher_manage_quiz_questions', quiz_id=quiz_id) }}';" class="btn btn-primary">Back to Questions for: {{ question.quiz.name }} </button>
    
    {% if classroom_id %}
    <button onclick="location.href='{{ url_for('views.edit_classroom', classroom_id=classroom_id) }}';" class="btn btn-success">Save Quiz and Go Back to Classrooms</button>    
    {% else %}
    <button onclick="location.href='{{ url_for('views.teacher_classrooms') }}';" class="btn btn-success">Save Quiz and Go Back to Classrooms</button>
    {% endif %}

</div>
{% endblock %}
